

#formulario-top>div.form-group {
    padding-bottom:20px;
}
#formulario-top {
    padding-left: 300px;
    padding-bottom:40px;
    border-top: 3px dotted red;
    border-bottom: 3px dotted red;
    background-color: whitesmoke;
}
#labelform
{
    font-family: Arial;

}

#formulario {
    padding-left: 300px;
    border: 3px dotted red;
    background-color:whitesmoke;
}
#divisor
{
    padding-right: 500px;
    padding-top:10px;
    padding-left:500px;
    
}

.form-group
{
    padding-top:20px;
}