@model SICS___WEB_2._0.Models.ViewModels.ListarFrascosViewModel

@{
    Layout = null;
}

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="janelaModal">
            <div class="modal-header">
                <h5 class="modal-title" id="titulomodal">Descrição do Reagente</h5>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
