
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Fechar</span></button>
            <h4 class="modal-title"> Sucesso</h4>
        </div>

        <div class=" modal-body">
            <p>Cadastro Realizado com êxito!</p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<script>


</script>